@tailwind base;
@tailwind components;
@tailwind utilities;




  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


/* Tailwind CSS does not include break-inside by default, so you may need to extend it */
